<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/app.js"></script>
  <script src="../handlebars-v4.0.5.js"></script>
  <title>SPABadge</title>
</head>
<body class="teachers">
  <div class="container">

    <div class="logo">
      <h1> SPA Badge </h1>
    </div>

    <h1> SF Teachers </h1>
    
    <ul id='teachers-list'>
    </ul>

    <script id="teacher" type="text/x-handlebars-template">
        {{#each teachers}}
          <li><a class='teachername' href="http://sample-badges-api.herokuapp.com/teachers/{{id}}">{{name}}</a></li>
        {{/each}}
    </script>

  </div>

</body>
</html>
